<nav class="menu">
    <button mat-button [routerLink]="['/']" routerLinkActive="active-link">Home</button>
    <button mat-button [routerLink]="['/sobre']" routerLinkActive="active-link">Sobre</button>
    <button mat-button [routerLink]="['/cadastro']" routerLinkActive="active-link">Cadastrar</button>
    <button mat-button [routerLink]="['/consulta']" routerLinkActive="active-link">Consulta</button>
    <button mat-button [routerLink]="['/ativos']" routerLinkActive="active-link">Ativos</button>
    <button mat-button [routerLink]="['/inativos']" routerLinkActive="active-link">Inativos</button>
  </nav>
  <router-outlet></router-outlet>